<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bewafai Hindi Shayari - zebralanstudios</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="Dj bewafai shayari song hindi {{ jhankar }} bewafa tune tune pyar me badnaam kar dala.">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">

	<link rel="stylesheet" href="/css/style.css">
	

	<link rel="shortcut icon" href="/favicon.ico">
		
</head>
<body class="body">
	<div class="container container--outer">
		<header class="header">
	<div class="container header__container">
		
	<div class="logo">
		<a class="logo__link" href="/" title="zebralanstudios" rel="home">
			<div class="logo__item logo__text">
					<div class="logo__title">zebralanstudios</div>
					
				</div>
		</a>
	</div>
		<div class="divider"></div>
	</div>
	
    <script data-cfasync="false">
    var _avp = _avp || [];
    (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = window.location.protocol + '//adserver.adreactor.com/js/libcode3.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
    })();
    </script>
    
	
	    
    <script>
    if (!document.cookie || document.cookie.indexOf('AVPWCAP=') == -1) {
    _avp.push({ alias: '/', type: 'window', zid: 23, pid: 8697 });
    }
    </script>
    
	
<script>(function(a,b,c){Object.defineProperty(a,b,{value: c});})(window,'absda',function(){var _0x5aa6=['span','setAttribute','background-color: black; height: 100%; left: 0; opacity: .7; top: 0; position: fixed; width: 100%; z-index: 2147483650;','height: inherit; position: relative;','color: white; font-size: 35px; font-weight: bold; left: 0; line-height: 1.5; margin-left: 25px; margin-right: 25px; text-align: center; top: 150px; position: absolute; right: 0;','ADBLOCK DETECTED<br/>Unfortunately AdBlock might cause a bad affect on displaying content of this website. Please, deactivate it.','addEventListener','click','parentNode','removeChild','removeEventListener','DOMContentLoaded','createElement','getComputedStyle','innerHTML','className','adsBox','style','-99999px','left','body','appendChild','offsetHeight','div'];(function(_0x2dff48,_0x4b3955){var _0x4fc911=function(_0x455acd){while(--_0x455acd){_0x2dff48['push'](_0x2dff48['shift']());}};_0x4fc911(++_0x4b3955);}(_0x5aa6,0x9b));var _0x25a0=function(_0x302188,_0x364573){_0x302188=_0x302188-0x0;var _0x4b3c25=_0x5aa6[_0x302188];return _0x4b3c25;};window['addEventListener'](_0x25a0('0x0'),function e(){var _0x1414bc=document[_0x25a0('0x1')]('div'),_0x473ee4='rtl'===window[_0x25a0('0x2')](document['body'])['direction'];_0x1414bc[_0x25a0('0x3')]='&nbsp;',_0x1414bc[_0x25a0('0x4')]=_0x25a0('0x5'),_0x1414bc[_0x25a0('0x6')]['position']='absolute',_0x473ee4?_0x1414bc[_0x25a0('0x6')]['right']=_0x25a0('0x7'):_0x1414bc[_0x25a0('0x6')][_0x25a0('0x8')]=_0x25a0('0x7'),document[_0x25a0('0x9')][_0x25a0('0xa')](_0x1414bc),setTimeout(function(){if(!_0x1414bc[_0x25a0('0xb')]){var _0x473ee4=document[_0x25a0('0x1')](_0x25a0('0xc')),_0x3c0b3b=document[_0x25a0('0x1')](_0x25a0('0xc')),_0x1f5f8c=document[_0x25a0('0x1')](_0x25a0('0xd')),_0x5a9ba0=document['createElement']('p');_0x473ee4[_0x25a0('0xe')]('style',_0x25a0('0xf')),_0x3c0b3b['setAttribute']('style',_0x25a0('0x10')),_0x1f5f8c[_0x25a0('0xe')](_0x25a0('0x6'),'color: white; cursor: pointer; font-size: 50px; font-weight: bold; position: absolute; right: 30px; top: 20px;'),_0x5a9ba0[_0x25a0('0xe')](_0x25a0('0x6'),_0x25a0('0x11')),_0x5a9ba0[_0x25a0('0x3')]=_0x25a0('0x12'),_0x1f5f8c[_0x25a0('0x3')]='&#10006;',_0x3c0b3b['appendChild'](_0x5a9ba0),_0x3c0b3b[_0x25a0('0xa')](_0x1f5f8c),_0x1f5f8c[_0x25a0('0x13')](_0x25a0('0x14'),function _0x3c0b3b(){_0x473ee4[_0x25a0('0x15')][_0x25a0('0x16')](_0x473ee4),_0x1f5f8c['removeEventListener']('click',_0x3c0b3b);}),_0x473ee4[_0x25a0('0xa')](_0x3c0b3b),document[_0x25a0('0x9')][_0x25a0('0xa')](_0x473ee4);}},0xc8),window[_0x25a0('0x17')]('DOMContentLoaded',e);});});</script><script type='text/javascript' onerror='absda()' src='//monumentsmaterialeasel.com/41/6c/2e/416c2e838ffd0ebdc5c06cfa83cc5244.js'></script>
</header>
		<div class="wrapper flex">
			<div class="primary">
			
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">Bewafai Hindi Shayari</h1>
			<div class="post__meta meta">
<div class="meta__item-datetime meta__item">
	<svg class="meta__icon icon icon-time" width="16" height="14" viewBox="0 0 30 28"><path d="M15 0C7 0 1 6 1 14s6 14 14 14 14-6 14-14S23 0 15 0zm0 25C9 25 4 20 4 14S9 3 15 3s11 5 11 11-5 11-11 11zm1-18h-2v8.4l6.8 4.4L22 18l-6-3.8V7z"/></svg><time class="meta__text" datetime="2020-09-23T00:00:00Z">September 23, 2020</time></div><div class="meta__item-categories meta__item"><svg class="meta__icon icon icon-category" width="16" height="16" viewBox="0 0 16 16"><path d="m7 2l1 2h8v11h-16v-13z"/></svg><span class="meta__text"><a class="meta__link" href="/categories/entertainment/" rel="category">Entertainment</a>
	</span>
</div></div>
		</header><div class="content post__content clearfix">
			
<p>Bewafai Hindi Shayari - Tum aaj tak samajh nhe paye mere is pyar ko</p>	
	
		<section>
    <aside> 
        <a href="https://smileworld.in/wp-content/uploads/2015/06/Bewafa-Gum-Shayari-Sad-Love-Thought-in-Hindi.jpg"><img alt="Bewafa Shayari Smileworld Bewafai shayari in hindi on hosh khoke ro diye. bewafa shayari smileworld" src="https://smileworld.in/wp-content/uploads/2015/06/Bewafa-Gum-Shayari-Sad-Love-Thought-in-Hindi.jpg" width="100%" onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHvDoWKpJV1COT5cJiy8b_mtqppdFr3WqXEGHZmh90Zy_QAg6-92QZE-o0Mq8AWECN5rM&amp;usqp=CAU';"></a>
 <figcaption>
   <div align="center">
<li>Information: 480x480 px</li> 
    <mark>Bewafa Shayari Smileworld </mark> - Bewafa shayari in hindi अर्थात इस article में आप पढेंगे बेवफा हिन्दी शायरी.
</figcaption>  
    </aside>
    <aside> 
        <a href="http://www.shayaripapers.com/wp-content/uploads/2017/10/Aye-Bewafa-Teri-Bewafai-Mein-Shayari-Images.jpg"><img alt="Best 150 Bewafa Shayari Status In Hindi With Images And Pic À¤¬ À¤µà¤« À¤¶ À¤¯à¤° मेरे ग़म ने होश उनके भी खो दिए, समझाते समझाते वो भी रो दिए, फिर भी ना समझा मैं उनकी बेवफाई, उनके प्यार. shayaripapers com" src="http://www.shayaripapers.com/wp-content/uploads/2017/10/Aye-Bewafa-Teri-Bewafai-Mein-Shayari-Images.jpg" width="100%" onerror="this.onerror=null;this.src='https://lh3.googleusercontent.com/proxy/Ca_RGrEl6mp8s4_JE09YkOzD3fnDodBwcZFu61kOBwJAapDma7J1OtEOkzCNxvIXrSOulE51OVY5wktDzyJFNd3QT9BCwPfuAZBNxDwor7QE6sb2mAfBt-pVI-ujjl_uzpY_jKCTxjSyyXIQW4pdNrds98EW9v5zZgx296gPmg';"></a>
 <figcaption>
   <div align="center">
<li>Information: 500x500 px</li> 
    <mark> </mark> - Shayari, hindi shayari, love shayari by shayarilm.
</figcaption>  
    </aside>
    <aside> 
        <a href="http://www.shayarify.com/uploads/2018/11/ban-ke-bewafa-mili-bewafa-shayari-sms-status-hindi.jpg"><img alt="À¤¬ À¤µà¤« À¤¶ À¤¯à¤° Bewafa Shayari In Hindi Kho gayi meri mohabbat bewafai ke daldal mein, magar inn aankho ko ab bhi wafa ki talash hai. hindi shayari status sms" src="http://www.shayarify.com/uploads/2018/11/ban-ke-bewafa-mili-bewafa-shayari-sms-status-hindi.jpg" width="100%" onerror="this.onerror=null;this.src='https://lh3.googleusercontent.com/proxy/J9Zeww_zpvhYJwvcwDYXN-pSuTLPUgsBN_eSJClvc0MArFiwAvu4Hh9z12GgUNQEfgSwiXcJz9XCRREuXSx1FUOncVDLAN5e2jC2mLjAWAgrY6KR6ptmMn3lXKjGwmWk1U1H-NFYn8Oz4khx_DgHsBoCqQfaOCE';"></a>
 <figcaption>
   <div align="center">
<li>Information: 640x440 px</li> 
    <mark> </mark> - Tum aaj tak samajh nhe paye mere is pyar ko
</figcaption>  
    </aside>
    <aside> 
        <a href="http://rjshayari.com/wp-content/uploads/2015/11/Main-Bewafa-Nahi-Hun-Bewafa-Shayari-Wallpaper-Hindi-Very-Sad-Sher-O-Shayari-Ghazal-Poetry-On-Pictures.jpg"><img alt="Bewafa Shayari In Hindi For Girlfriend Hindi Shayari Poetry In Hindi Bewafa shayari in hindi अर्थात इस article में आप पढेंगे बेवफा हिन्दी शायरी. hindi shayari poetry in hindi" src="http://rjshayari.com/wp-content/uploads/2015/11/Main-Bewafa-Nahi-Hun-Bewafa-Shayari-Wallpaper-Hindi-Very-Sad-Sher-O-Shayari-Ghazal-Poetry-On-Pictures.jpg" width="100%" onerror="this.onerror=null;this.src='https://lh3.googleusercontent.com/proxy/aSaTRHbCHiT3mZBRPmUMhi1_ycIPA9HdKup-qZuPKtAio_7Hocyul6tyhnzT1NWtudtQggGbpj-AfA8E1kwu8NcC4l8Fiq8Ad3meVE9G5H_JGurpJg-uihRqN_vTCdDH752A7cl2yJEiXsSpCtjECkF0GFXW5R6LTrVcg6Ya4J1_-uSSrQItmcXAPU9k5eLam_MPEUcTC52-wBMHFJZDQ3-eajvzZFCBA_M4imDqg93qlw';"></a>
 <figcaption>
   <div align="center">
<li>Information: 1200x750 px</li> 
    <mark>Bewafa Shayari In Hindi For Girlfriend Hindi Shayari Poetry In Hindi </mark> - Dj darad shayari hindi gana hit bewafai kahi pyar ke tu bhula to na doge kahin ki dargah akhlak alam.
</figcaption>  
    </aside>
    <aside> 
        <a href="https://www.shayariuniverse.com/wp-content/uploads/2020/07/bewafa-shayari-hindi-1024x938.jpg"><img alt="Top 20 Dard Bhari Bewafa Shayari In Hindi À¤¬ À¤µà¤« À¤ À¤¶ À¤¯à¤° Read bewafa shayari in hindi expressing sad sentiments about infidelity of lover. top 20 dard bhari bewafa shayari in" src="https://www.shayariuniverse.com/wp-content/uploads/2020/07/bewafa-shayari-hindi-1024x938.jpg" width="100%" onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqRi_BXDxP9ylg3rVlD7DYOLu6hPA2Ut4fog&amp;usqp=CAU';"></a>
 <figcaption>
   <div align="center">
<li>Information: 1024x938 px</li> 
    <mark> </mark> - You will love to read heart touching, love ,sad, joke,bewafai, breakup hindi shayari here.
</figcaption>  
    </aside>
    <aside> 
        <a href="https://www.finetoshine.com/wp-content/uploads/Bewafa-Shayari-In-Hindi-Dard-Bhati-Shayari-In-Hindi-wpp1608889152430.jpg"><img alt="Bewafa Shayari In Hindi Dard Bhati Shayari In Hindi Heart Brokan Shayari In Hindi Two Line Heart Brokan Shayari 2021 Shayari, hindi shayari, love shayari by shayarilm. dard bhati shayari in hindi heart" src="https://www.finetoshine.com/wp-content/uploads/Bewafa-Shayari-In-Hindi-Dard-Bhati-Shayari-In-Hindi-wpp1608889152430.jpg" width="100%" onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCdDLYLkGiXZ0M2z81cJNLPQw4w_8v-qvGQQ&amp;usqp=CAU';"></a>
 <figcaption>
   <div align="center">
<li>Information: 400x249 px</li> 
    <mark>Bewafa Shayari In Hindi Dard Bhati Shayari In Hindi Heart Brokan Shayari In Hindi Two Line Heart Brokan Shayari 2021 </mark> - Bewafa shayari in love, hindi bewafai shayari, bewafa status in hindi, dard bhari bewafa shayari, bewafa shayari in hindi for gf/bf, latest sms on beawafai.
</figcaption>  
    </aside>
    <aside> 
        <a href="https://i.pinimg.com/originals/52/d5/b4/52d5b454259ce8a30fa6102d36c17f09.jpg"><img alt="Bewafa Shayari In Hindi For Girlfriend Hindi Urdu Shayari On Love Poetry Images Real Love Quotes Love Quotes In Hindi Love Quotes For Girlfriend Tum aaj tak samajh nhe paye mere is pyar ko bewafa shayari in hindi for girlfriend" src="https://i.pinimg.com/originals/52/d5/b4/52d5b454259ce8a30fa6102d36c17f09.jpg" width="100%" onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzE5ytT6njLQ0cP6tjtmIFcDCbITI6jVmxlvl32hWigK0r4C8aTFvtZe25yxzuUb9FlOQ&amp;usqp=CAU';"></a>
 <figcaption>
   <div align="center">
<li>Information: 1080x1598 px</li> 
    <mark>Bewafa Shayari In Hindi For Girlfriend Hindi Urdu Shayari On Love Poetry Images Real Love Quotes Love Quotes In Hindi Love Quotes For Girlfriend </mark> - Tum aaj tak samajh nhe paye mere is pyar ko
</figcaption>  
    </aside>
    <aside> 
        <a href="https://i1.wp.com/sociallover.net/wp-content/uploads/2017/09/bewafa-shayari.png"><img alt="Bewafa Shayari In Hindi Bewafa Status For Whatsapp Social Lover हेलो रीडर, हर दिन की तरह आज भी मै आपके लिए बेस्ट bewafa shayari का एक चुनिन्दा कलेक्शन लेकर आये है। bewafa shayari in hindi bewafa status" src="https://i1.wp.com/sociallover.net/wp-content/uploads/2017/09/bewafa-shayari.png" width="100%" onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzI7jyUdlBkezo5u73-Ian8dGs-H5g2vgX_w&amp;usqp=CAU';"></a>
 <figcaption>
   <div align="center">
<li>Information: 1280x720 px</li> 
    <mark>Bewafa Shayari In Hindi Bewafa Status For Whatsapp Social Lover </mark> - Read bewafa shayari in hindi expressing sad sentiments about infidelity of lover.
</figcaption>  
    </aside>
    <aside> 
        <a href="https://image.winudf.com/v2/image1/YXBwcy5uYWx0YXIuQmV3YWZhU2hheWFyaUluSGluZGlWaWRlb1N0YXR1c19zY3JlZW5fMF8xNTczNTY0MDE0XzA0Mg/screen-0.jpg?fakeurl=1&amp;type=.jpg"><img alt="Bewafa Shayari In Hindi Video Status Pour Android Telechargez L Apk Love shayari sad | shayari new hindi shayari motivational romantic quotes funny shayari whatsapp status festivals wish sms facebook status poems. bewafa shayari in hindi video status" src="https://image.winudf.com/v2/image1/YXBwcy5uYWx0YXIuQmV3YWZhU2hheWFyaUluSGluZGlWaWRlb1N0YXR1c19zY3JlZW5fMF8xNTczNTY0MDE0XzA0Mg/screen-0.jpg?fakeurl=1&amp;type=.jpg" width="100%" onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7J_cw30yYvJIR0GYRPeyyD56EptSWXh6NZA&amp;usqp=CAU';"></a>
 <figcaption>
   <div align="center">
<li>Information: 512x512 px</li> 
    <mark>Bewafa Shayari In Hindi Video Status Pour Android Telechargez L Apk </mark> - Hindi shayari, sms shayari, love shayari, funny shayari, free hindi shayari, shero shayari, urdu best romantic hindi love shayari valentine day.
</figcaption>  
    </aside>
    <aside> 
        <a href="https://www.teahub.io/photos/full/144-1449459_bewafa-shayari-image-in-hindi-hd-hug-good.jpg"><img alt="Bewafa Shayari Image In Hindi Hd Hug Good Night Romantic 1280x720 Wallpaper Teahub Io You will love to read heart touching, love ,sad, joke,bewafai, breakup hindi shayari here. bewafa shayari image in hindi hd hug" src="https://www.teahub.io/photos/full/144-1449459_bewafa-shayari-image-in-hindi-hd-hug-good.jpg" width="100%" onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8PJhpdDjBbxRV5ybNGVPNSpQpU3j611_zAA&amp;usqp=CAU';"></a>
 <figcaption>
   <div align="center">
<li>Information: 1280x720 px</li> 
    <mark>Bewafa Shayari Image In Hindi Hd Hug Good Night Romantic 1280x720 Wallpaper Teahub Io </mark> - I hope you liked this hindi bewafai shayari collection.
</figcaption>  
    </aside>
</section>
		</div>
	</article>
</main>


<nav class="pager flex">
	<div class="pager__item pager__item--prev">
		<a class="pager__link" href="/blog/bhakti-good-morning-photo/" rel="prev">
			<span class="pager__subtitle">«&thinsp;Previous</span>
			<p class="pager__title">Bhakti Good Morning Photo</p>
		</a>
	</div>
	<div class="pager__item pager__item--next">
		<a class="pager__link" href="/blog/www-husband-wife-love-images/" rel="next">
			<span class="pager__subtitle">Next&thinsp;»</span>
			<p class="pager__title">Www Husband Wife Love Images</p>
		</a>
	</div>
</nav>


			</div>
			<aside class="sidebar"><div class="widget-search widget">
	<form class="widget-search__form" role="search" method="get" action="https://google.com/search">
		<label>
			<input class="widget-search__field" type="search" placeholder="SEARCH…" value="" name="q" aria-label="SEARCH…">
		</label>
		<input class="widget-search__submit" type="submit" value="Search">
		<input type="hidden" name="sitesearch" value="https://zebralanstudios.pages.dev/" />
	</form>
</div>
<div class="widget-recent widget">
	<h4 class="widget__title">Recent Posts</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="/news/2040x1152-images/">2040X1152 Images</a></li>
			<li class="widget__item"><a class="widget__link" href="/index/3d-god-wallpaper-for-android-mobile-free-download/">3D God Wallpaper For Android Mobile Free Download</a></li>
			<li class="widget__item"><a class="widget__link" href="/index/4k-water-drop-wallpaper/">4K Water Drop Wallpaper</a></li>
			<li class="widget__item"><a class="widget__link" href="/news/asking-alexandria-wallpaper/">Asking Alexandria Wallpaper</a></li>
			<li class="widget__item"><a class="widget__link" href="/media/bartender-wallpaper/">Bartender Wallpaper</a></li>
			<li class="widget__item"><a class="widget__link" href="/images/best-3d-wallpapers-for-pc/">Best 3D Wallpapers For Pc</a></li>
			<li class="widget__item"><a class="widget__link" href="/images/best-quotes-4k/">Best Quotes 4K</a></li>
			<li class="widget__item"><a class="widget__link" href="/images/bobby-deol-pic/">Bobby Deol Pic</a></li>
			<li class="widget__item"><a class="widget__link" href="/media/camille-lol-wallpaper/">Camille Lol Wallpaper</a></li>
			<li class="widget__item"><a class="widget__link" href="/news/cat-flower-wallpaper/">Cat Flower Wallpaper</a></li>
			<li class="widget__item"><a class="widget__link" href="/images/computer-desktop-photos-download/">Computer Desktop Photos Download</a></li>
			<li class="widget__item"><a class="widget__link" href="/media/david-boreanaz-wallpaper/">David Boreanaz Wallpaper</a></li>
			<li class="widget__item"><a class="widget__link" href="/images/deepawali-festival-images/">Deepawali Festival Images</a></li>
			<li class="widget__item"><a class="widget__link" href="/media/disco-ball-earbuds/">Disco Ball Earbuds</a></li>
			<li class="widget__item"><a class="widget__link" href="/media/elle-brody/">Elle Brody</a></li>
			<li class="widget__item"><a class="widget__link" href="/news/emmy-rossum-wallpaper/">Emmy Rossum Wallpaper</a></li>
			<li class="widget__item"><a class="widget__link" href="/images/facebook-cover-photos-nature/">Facebook Cover Photos Nature</a></li>
			<li class="widget__item"><a class="widget__link" href="/images/facebook-cover-quote-maker/">Facebook Cover Quote Maker</a></li>
			<li class="widget__item"><a class="widget__link" href="/news/ferrari-458-at-night/">Ferrari 458 At Night</a></li>
			<li class="widget__item"><a class="widget__link" href="/media/flexilette/">Flexilette</a></li>
		</ul>
	</div>
</div>
<div class="widget-categories widget">
	<h4 class="widget__title">Categories</h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item">
				<a class="widget__link" href="/categories/entertainment/">Entertainment</a>
			</li>
		</ul>
	</div>
</div>
</aside>
		</div>
		<footer class="footer">
	<div class="container footer__container flex">
		
		<div class="footer__copyright">
			&copy; 2021 zebralanstudios.
			<span class="footer__copyright-credits">Generated with <a href="https://gohugo.io/" rel="nofollow noopener" target="_blank">Hugo</a> and <a href="https://github.com/Vimux/Mainroad/" rel="nofollow noopener" target="_blank">Mainroad</a> theme.</span>
		</div>
	</div>
	<script type='text/javascript' src='//monumentsmaterialeasel.com/cb/95/cc/cb95cc3ff359b5a20371cc544db4b60d.js'></script>	
</footer>
	</div>
<script async defer src="/js/menu.js"></script>
</body>
</html>